<!doctype html>
<html>
<head>
<title>Speedy Podcast Player</title>
<script src="http://code.jquery.com/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/static/player.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
{{ feed_url }}
<h1>{{ metadata.title }}</h1>
<p>{{ metadata.description }}</p>
<ul id="episode_list">
{% for item in items %}
    <li class="item" onclick="audio('{{ item.find('enclosure').attrib['url'] }}')">
        <span class="item_title">{{ item.find('title').text }}</span>
        <span class="item_date">{{ item.find('pubDate').text }}</span>
        <span class="item_url">{{ item.find('enclosure').attrib['url'] }}</span>
    </li>
{% endfor %}
</ul>
<div id="player">
    <audio id="audio" controls="true" preload="metadata"></audio>
    <br />
    <input type="range" min="0.25" max="4" step="0.25" value="1" id="play_speed" />
    <span id="current_speed">1x</span>
</div>
</body>
</html>
